


.cajas-estudio {

    background-image: linear-gradient(red, coral);
    text-align: center border 6px solid black;
    margin: 30px 30px 30px;

    h2 {
        font-size: 20pt;
        padding-top: 25px;
    }
    p { 
        font-size: 12pt;
        padding 20px 20px 40px;
    }
}

