

// Backgrond Color Pages

$fondo1: rgb(247, 209, 106)
$fondo2: azure

// Elements

@import sass-elements/_hero

@import sass-elements/_cajas-estudio

@import sass-elements/_footer

@import sass-elements/_box-radial

@import sass-elements/_btn-animation

*
    margin: 0
    padding: 0


// NAV - Logo

.logo 
    width: 80px
    height: 80px

.logo:hover
    transform: scale(1.1) !important

li a.nav-link:hover 
    color: yellow

.active
    color: yellow !important

// BG

main 
    background-color: $fondo2
    height: calc(100vH + 340px)

.coral
    background-color: $fondo1 !important
    height: calc(100vh + 700px)


// img DISCOS

.art
    height: 3oopx
    width: 300px

img 
    width: 100%
    height: auto

.youtube
    background: brown