

/* Backgrond Color Pages*/

$fondo1: rgb(247, 209, 106);
$fondo2:azure;



*{
    margin: 0;
    padding:0;
}



.logo {
    width: 80px;
    height: 80px;
}
li a.nav-link:hover {
    color: yellow !important;
}
.active {
    color: yellow !important;
}



/* HOME - ESTUDIO - CONTACTO */

main {
    background-color: $fondo2 !important;
    height: 170vH;
}



/* HOME */

.hero { 
    color: aliceblue !important;
    background-image: url(img/HomeBack.jpg);
    background-color: #0000002f !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px 60px 40px;
    padding: 30px 40px 20px;
    border: 4px solid black;
}



/* DISCOS - CLASES */

.coral{
    background-color: $fondo1 !important;
    height: 200cH;
}


img {
    width: 100%;
    height: auto;
}

.art {
    height: 3oopx;
    width: 300px;
}

@import "footer";



/* PAGES */

@import "cajas-estudio";








