

.hero 
    color: aliceblue !important
    background-image: url(img/HomeBack.jpg)
    background-color: #0000002f !important
    background-repeat: no-repeat
    background-size: cover
    margin: 40px 60px 40px
    padding: 30px 40px 20px
    border: 4px solid black
