
// HERO //

.hero

    color: white
    background-image: url('img/HomeBack.jpg')
    background-repeat: no-repeat
    background-size: cover
    margin: 0
    padding: 100px 0
    border: 4px solid black
    text-align: center
    position: relative
